In [6]:
## ------------------------------------------------------------------------
my.vec1 <- c(5.2, 7.6, 15.1,12)  # A vector of  numerics 
my.vec2 <- c("Male","Male","Female","Female") # A vector of  characters 
my.vec3 <- c(TRUE, FALSE,TRUE,FALSE) # A vector of logicals

my.df      <- data.frame(
    Numbers = my.vec1,
    Gender = my.vec2,
	Logicals = my.vec3
	)
summary(my.df) #The summary function describes each variable

    Numbers          Gender   Logicals
 Min.   : 5.200   Female:2   Mode :logical
 1st Qu.: 7.000   Male  :2   FALSE:2
 Median : 9.800              TRUE :2
 Mean   : 9.975
 3rd Qu.:12.775
 Max.   :15.100

In [3]:
my.df

  Numbers Gender Logicals
1  5.2    Male    TRUE
2  7.6    Male   FALSE
3 15.1    Female  TRUE
4 12.0    Female FALSE

In [4]:
## ------------------------------------------------------------------------
#### Extract the Gender column and look at its type 
class(my.df$Gender)

[1] "factor"